@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
        Change favorite color
        Default: hsl(162, 100%, 40%)
        Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
        Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)
  
        For more colors visit: https://colors.dopely.top/color-pedia
        -> Choose any color 
        -> click on tab (Color Conversion)
        -> Copy the color mode (HSL)
    */
  
    --hue: 162;
    --first-color: #e8452c;
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: #fff;
    --bg-color: #000000;
    --second-bg-color: #161616;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  input,
  textarea,
  button,
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
 
  
  h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img,
  svg {
    max-width: 100%;
    height: auto;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding-block: 5rem 2rem;
  }
  
  .section__title, 
  .section__subtitle {
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  .section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
  }
  
  .section__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .section__subtitle span {
    color: var(--first-color);
  }
  
  .main {
    overflow: hidden; /* For animation ScrollReveal */
  }

  html::-webkit-scrollbar{
    width: 0.8rem;
  }

  html::-webkit-scrollbar-track{
    background-color: var(--bg-color);
  }

  html::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
  }

  .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 8%;
    background-color: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }

  .nav__logo{
    font-size: 2rem;
    color: var(--first-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s all ease;
  }

  .nav__logo:hover{
    transform: scale(1.1);
  }

  .nav__menu a{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: var(--font-medium);
    transition: 0.3 all ease;
  }

  .nav__menu a:hover,
  .nav__menu a.active{
    color: var(--first-color);
  }

  .ruf{
    color: var(--text-color);
    margin-right: 10px;
  }

  #menu__icon{
    color: var(--text-color);
    font-size: 2rem;
    display: none;
  }

  @media (max-width:991px) {
    #menu__icon{
      display: block;
    }

    .nav__menu{
      position: absolute;
      right: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 100vh;
      background-color: rgba(5, 0, 0, 0.9);
      row-gap: 30px;
      font-size: 30px;
    }


    .close-btn{
      position: absolute;
      top: 2rem;
      right:  2.5rem;
      display: block;
    }
  }


  @media (min-width:991px) {
    .close-btn{
      display: none;
    }
  }

  .nav-show{
    right: 0;
  }


  section{
    min-height: 100vh;
    padding: 3rem 9% 3rem;
  }

  .home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
  }

  .home .home-content{
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.3;
  }

  span{
    color: var(--first-color);
  }

  .home-img{
    border-radius: 50%;
  }

  .home-img img{
    position: relative;
    width: 92vw;
    height: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--first-color);
    cursor: pointer;
    transition: 0.3 all ease;
  }

  .home-img img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--first-color));
  }

  .home-content p{
    font-size: 1rem;
    font-weight: 500;
  }

  .home-content .social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.02rem solid var(--first-color);
    font-size: 1.5rem;
    border-radius: 50%;
    color: var(--first-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
  }

  .home-content h3{
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }

  .social-icon a:hover{
    color: white;
    transform: scale(1.3)translateY(-5px);
    background-color: var(--first-color);
    box-shadow: 0 0 25px var(--first-color);
  }

  .btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--bg-color);
    border-radius: 4rem;
    font-size: 1rem;
    color: var(--first-color);
    border: 2px solid var(--first-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all ease;
  }
  .btn:hover{
    transform: scale(1.03);
    background-color: var(--first-color);
    color: var(--text-color);
  }

  .home-content h1{
    font-size: 50px;
  }

  .typing{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
  }

  .typing span{
    position: relative;
  }

  .typing span::before{
    content: "Web Developer";
    color: var(--first-color);
    animation: word 20s infinite;
  }

  .typing span::after{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
  }
  

  @keyframes cursor {
    to{
        border-left: 3px solid var(--first-color);
    }
  }

  @keyframes word {
    0%, 20%{
        content: "Web Designer";
    }
    21%, 40%{
        content: "UI/UX Designer";
    }
    41%,60%{
        content: "Full Stack Developer";
    }
    61%,80%{
        content: "Web Application Developer";
    }
    81%, 100%{
        content: "Web Typography Specialist";
    }
  }

  @keyframes typing {
    10%,15%,
    30%,35%,
    50%,55%,
    70%,75%,
    90%,95%{
        width: 0;
    }

    5%,20%,
    25%,40%,
    45%,60%,
    65%,80%,85%{
        width: calc(100% + 8px);
    }
  }

  @media (max-width:1000px) {
    .home{
        gap: 4rem;
    }
  }
  @media (max-width:995px) {
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h1{
        font-size: 1.8rem;
    }
    .home-img img{
        width: 50vw;
        height: 35vw;
        margin-top: 4rem;
    }


  }


/*Services Section*/

.services{
    background-color: var(--second-bg-color);
}

.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box{
    background-color: var(--first-color);
    height: 250px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3 all ease;
}
.service-box:hover{
    background-color: transparent;
    color: var(--text-color);
    transform: scale(1.03);
    border: 1px solid var(--first-color);
}

.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    padding: 3rem;
}

.service-info h4{
    font-size: 1.3rem;
    font-weight: var(--font-medium);
    margin-bottom: 0.70rem;
}
.services h2{
    margin-bottom: 4.8rem;
    font-size: 2rem;
}

.service-info p{
    font-size: 0.60rem;
    font-weight: var(--font-regular);
    max-height: 100px;
    margin: auto;
}

@media (max-width:991px) {
    section{
        padding: 4rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
}

@media (max-width:895px) {
    .services h2{
        margin-bottom: 2rem;
    }

    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
}


/*Skills Container*/

.skills{
  background-color: var(--bg-color);
}

.skills .container{
  background-color: #e1352c54;
  color: var(--text-color);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
}

.skills .container .row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  flex-wrap: wrap;
  cursor: pointer;
}

.skills .container .bar{
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 0.8rem;
  background-color: #e1362c;
  transition: 0.3s all ease;
}

.skills .container .bar:hover{
  box-shadow: 0 4px 10px var(--first-color);
}

.skills .container .bar .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 0.7rem;
}

.info span{
  color: var(--text-color);
  font-size: 1.20rem;
}

@media screen and (max-width: 768px) {
  .skills .container .row {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjust minmax values as needed */
  }
}


/*education container*/

.education{
  background-color: var(--second-bg-color);
}

.education .timeline{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.education .timeline::after{
  content: '';
  position: absolute;
  width: 6px;
    background: rgb(9, 64, 64);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -2px;
}

.education .container{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.education .container::after{
  content: '\f501';
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  right: -17px;
  background-color: rgb(252, 252, 252);
  color: #000;
  border: 4px solid var(--first-color);
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  text-align: center;
  font-weight: 600;
  font-family: 'Font Awesome\ 5 Free';
}

.education .left{
  left: 0;
}
.education .right{
  left: 50%;
}

.education .left::before{
  content: '';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--first-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--first-color);
}

.education .right::before{
  content: '';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 300px;
  border: medium solid var(--first-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent transparent transparent var(--first-color);
}

.education .right::after{
  left: -16px;
}

.education .content{
  background-color: var(--first-color);
  position: relative;
  border-radius: 6px;
}

.education .content .tag{
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.education .content .desc{
  margin-left: 1.5rem;
  padding-bottom: 1rem;
  color: var(--bg-color);
}

.education .content .desc h3{
  font-size: 1.25rem;
  font-weight: 600;
}

.education .content .desc p{
  font-size: 0.7rem;
  font-weight: 400;
}


@media (max-width:600px) {
  .education .timeline{
    margin-top: 2rem;
  }
  .education .timeline::after{
    left: 31px;
  }
  .education .container{
    width: 100%;
    padding-left: 8rem;
    padding-right: 2rem;
  }
  .education .container::after{
    font-size: 1rem;
  }
  .education .left::after{
    left: 15px;
  }
  .education .right::after{
    left: 15px;
  }
  .education .right{
    left: 0%;
  }
}


/*Contact Section*/

.contact h2{
  color: var(--text-color);
  margin-bottom: 3rem;

}

.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
  text-align: center;
}

.contact form .input-box{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 0.9rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 2px solid var(--first-color);
  border-radius: 0.8rem;
  margin: 1rem 0;
  resize: none;
}


/*Footer Section*/

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--first-color);
}

.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: var(--bg-color);
}

.footer .social a{
  font-size: 25px;
  color: var(--bg-color);
  border: 2px solid var(--bg-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px ;
  transition: 0.3 s all ease;
}

.footer .social a:hover{
  transform: scale(1.2)translateY(-5px);
  background-color: var(--bg-color);
  color: var(--first-color);
}

.footer ul{
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 0;
  text-align: center;

}

.footer ul li a{
  color: var(--bg-color);
  border-bottom: 3px solid transparent;
  transition:  0.3 all ease;
}

.footer ul li a:hover{
  border-bottom: 3px solid var(--bg-color);
}


.footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright{
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  column-rule: var(--bg-color);
}

@media (max-width:1285px) {
  html{
    font-size: 70%;
  }
}


@media (max-width:991px) {
  .header{
    padding: 2rem 3%;
  }

  section{
    padding: 10rem 3% 2rem;
  }

  .services{
    padding-bottom: 4rem;
  }

  .footer{
    padding: 2rem 3%;
  }

  .home-img img {
  }
  .home{
    text-align: center;
  }
}


@media (max-width:895px) {
  
}